
<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript">
<!--
function bekle(){
    window.location = "/posts"
}
//-->
</script>

    </head>
    <body onLoad="setTimeout('bekle()', 0)" style="background-color: #181818">



    </body>
    </html>